:root{
    --clr-voilet: hsl(257, 40%, 49%);
    --clr-soft-magnet:hsl(300, 69%, 71%);
    --ff-heading:"Poppins", sans-serif;
    --ff-body:'Open Sans', sans-serif;
}


*,
*::after,
*::before{
    padding:0;
    margin:0;
   box-sizing:border-box;
}
html{
    font-size:62.5%;
}
body{
    background-color:var(--clr-voilet);
    min-height:100vh;
}
header{

    padding:2em 1em;
    background-image: url("./images/bg-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}
.logo {
width:8rem;


}

.img,img{
    display:block;
    max-width:100%;
    margin: 0 auto;
 
  
}
button{
    cursor:pointer;
    border:none;
    padding:0.8em 5em;
    border-radius: 25px;
}

/********* typography **********/
.heading-primary{
    text-align:center;
    text-transform: capitalize;
    font-size:2.8rem;
    font-family:var(--ff-heading);

}


.txt{

font-family:var(--ff-body);
font-size:1.6rem;
line-height:1.4;
margin:2rem auto;
max-width: 500px;
}


/********************************/

.main{
    display:flex;
    justify-content:center;

}

.content{


    color:white;
    border:1px solid red;
 
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-content:center ;
}

.CTA{

  max-width: 250px;
  margin:0 auto;
    text-transform: capitalize;
    text-align: center;
    font-size:1.6rem;
    color:var(--clr-voilet);

 
  

   
}
.CTA:hover{
    background-color: var(--clr-soft-magnet);
    color:white;
}


footer ul{
    list-style:none;

    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 2em;

}
.icon{
    display:block;

    color:white;
    border:1px solid white;
    /* border-radius: 50%; */
    padding:0.5em 0.6em;
    margin:0.5em;
    width:3rem;

}
.icon:hover{
    background-color: var(--clr-soft-magnet);
    border:1px solid var(--clr-soft-magnet);
}


@media (min-width:900px) {
    .logo{
        width:20rem;
    }
    .heading-primary{
        font-size:4.4rem;
        max-width:50rem;
        line-height:1.6;
    }
    .container{
        max-width:1400px;
        margin:0 auto;
     
   
    
        background-image: url("./images/bg-desktop.svg");
        
    }
  
   .content{

   
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:5rem;

   

   }
 
    header{
        background-image: none;
    }
   
    
   .CTA{
   
      width:200px;
    } 
    footer ul{
        margin-right:5em;
      
        justify-content:right;
    }
}